*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  color: #252934;
  background: #fafafa;
  font-size: 62.5%;
  font-family: "Overlock", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  height: 100vh; }
  body h1 {
    margin: 0.67em 0;
    margin-top: 0.67em;
    margin-right: 0px;
    margin-bottom: 0.67em;
    margin-left: 0px; }

nav {
  position: fixed;
  z-index: 3333;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center; }
  nav .nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    padding: 0 2rem; }
    nav .nav-wrapper .brand {
      font-size: 1.6rem;
      color: #fafafa;
      cursor: default;
      text-transform: capitalize; }
    nav .nav-wrapper .menu-button {
      height: 22px;
      width: 30px;
      outline: none; }
      nav .nav-wrapper .menu-button span {
        position: relative;
        background: #fafafa;
        display: block;
        top: 50%;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        width: 30px;
        height: 3px; }
        nav .nav-wrapper .menu-button span::after, nav .nav-wrapper .menu-button span::before {
          content: "";
          position: absolute;
          background: #fafafa;
          width: 30px;
          height: 3px;
          transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
          top: -8px; }
      nav .nav-wrapper .menu-button span::after {
        top: 8px; }
      nav .nav-wrapper .menu-button span::before {
        top: -8px; }

#welcome-section {
  background: linear-gradient(to bottom, #181d23 0%, #202736 80%);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
  z-index: 1; }
  #welcome-section::before {
    content: "";
    position: fixed;
    background: url(https://raw.githubusercontent.com/yagoestevez/fcc-portfolio/master/src/Images/Stars.svg?sanitize=true);
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    z-index: -1;
    opacity: 0;
    -webkit-animation: stars-move-in 1000ms 300ms forwards;
    animation: stars-move-in 1000ms 300ms forwards; }

@-webkit-keyframes stars-move-in {
  from {
    background-position-y: -100px; }
  to {
    opacity: 1;
    background-position-y: 0; } }

@keyframes stars-move-in {
  from {
    background-position-y: -100px; }
  to {
    opacity: 1;
    background-position-y: 0; } }
  #welcome-section .forest {
    position: absolute;
    bottom: -300px;
    left: 0;
    background: url(https://raw.githubusercontent.com/yagoestevez/fcc-portfolio/master/src/Images/Trees.svg?sanitize=true) bottom left repeat-x;
    background-size: cover;
    width: 100%;
    height: 80%;
    opacity: 0;
    -webkit-animation: forest-move-in 1000ms 500ms forwards;
    animation: forest-move-in 1000ms 500ms forwards;
    border-bottom: 300px solid #181d23; }
  #welcome-section .silhouette {
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(https://raw.githubusercontent.com/yagoestevez/fcc-portfolio/master/src/Images/Silhouette.svg?sanitize=true) bottom left no-repeat;
    width: 50%;
    height: 50%;
    opacity: 0;
    -webkit-animation: silhouette-move-in 1000ms 800ms forwards;
    animation: silhouette-move-in 1000ms 800ms forwards; }
  #welcome-section .moon {
    position: absolute;
    top: 0;
    right: 0;
    position: fixed;
    background: url(https://raw.githubusercontent.com/yagoestevez/fcc-portfolio/master/src/Images/Moon.svg?sanitize=true) right 150% no-repeat;
    background-size: 40% 40%;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    -webkit-animation: moon-move-in 1.2s 1s forwards;
    animation: moon-move-in 1.2s 1s forwards; }
  #welcome-section .container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    right: 0;
    top: 50%;
    right: 25%;
    opacity: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-animation: text-fade-in 1000ms 800ms forwards;
    animation: text-fade-in 1000ms 800ms forwards;
    font-family: sans-serif; }
    #welcome-section .container h1 {
      font-size: 4rem;
      font-weight: normal;
      font-style: italic;
      color: #fafafa;
      line-height: 3rem; }
      #welcome-section .container h1 .line:first-child {
        margin-left: 1rem; }
      #welcome-section .container h1 .line:last-child {
        margin-left: 1rem; }
      #welcome-section .container h1 .line {
        display: block; }
      #welcome-section .container h1 .color {
        color: #f300b4;
        font-style: italic; }
    #welcome-section .container .buttons {
      display: flex;
      margin-top: 1rem; }
      #welcome-section .container .buttons a:first-child {
        margin-right: 1rem; }
      #welcome-section .container .buttons a,
      #welcome-section .container .buttons a:visited {
        width: 100%;
        padding: 1rem;
        border: 1px solid #fafafa;
        color: #fafafa;
        text-align: center;
        text-transform: uppercase;
        font-size: 1rem;
        text-decoration: none;
        transition: 200ms; }
        #welcome-section .container .buttons a:hover,
        #welcome-section .container .buttons a a:active,
        #welcome-section .container .buttons a:visited:hover,
        #welcome-section .container .buttons a:visited a:active {
          border: 1px solid #f300b4;
          border: 1px solid #f300b4;
          -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
          box-shadow: 0 10px 100px -20px #f300b4; }
      #welcome-section .container .buttons a.cta,
      #welcome-section .container .buttons a.cta:visited {
        background: #f300b4;
        border: 1px solid transparent;
        color: #fafafa;
        font-weight: bold; }
        #welcome-section .container .buttons a.cta:hover, #welcome-section .container .buttons a.cta:active,
        #welcome-section .container .buttons a.cta:visited:hover,
        #welcome-section .container .buttons a.cta:visited:active {
          background: transparent;
          border: 1px solid #f300b4; }

@-webkit-keyframes text-fade-in {
  from {
    right: 0; }
  to {
    opacity: 1;
    right: 25%; } }

@keyframes text-fade-in {
  from {
    right: 0; }
  to {
    opacity: 1;
    right: 25%; } }

@-webkit-keyframes silhouette-move-in {
  from {
    background-position-x: 0; }
  to {
    opacity: 1;
    background-position-x: 50%; } }

@keyframes silhouette-move-in {
  from {
    background-position-x: 0; }
  to {
    opacity: 1;
    background-position-x: 50%; } }

@-webkit-keyframes moon-move-in {
  from {
    opacity: 0;
    background-position: right 150%; }
  to {
    opacity: 1;
    background-position: top right; } }

@keyframes moon-move-in {
  from {
    opacity: 0;
    background-position: right 150%; }
  to {
    opacity: 1;
    background-position: top right; } }

@-webkit-keyframes forest-move-in {
  from {
    background-position-y: 150%; }
  to {
    opacity: 1;
    background-position-y: 100%; } }

@keyframes forest-move-in {
  from {
    background-position-y: 150%; }
  to {
    opacity: 1;
    background-position-y: 100%; } }

#about {
  height: 100vh;
  min-height: 100vh;
  font-size: 1.4rem;
  position: relative;
  z-index: 6;
  background: #fafafa url(https://raw.githubusercontent.com/yagoestevez/fcc-portfolio/master/src/Images/Author_BG.jpg) center right no-repeat;
  background-attachment: fixed;
  font-family: sans-serif; }
  #about .wrapper {
    padding: 15rem 10rem 12rem;
    height: 100%;
    min-height: 100vh;
    max-width: 1400px;
    margin: 0 auto; }
    #about .wrapper article {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;
      padding: 3rem 0; }
      #about .wrapper article .title {
        grid-column-end: span 4;
        display: flex;
        flex-direction: column;
        align-items: center; }
        #about .wrapper article .title h3 {
          font-size: 2.4rem; }
        #about .wrapper article .title .separator {
          background: #f300b4;
          width: 150px;
          height: 2px;
          margin: 1rem 0;
          padding: 0; }
      #about .wrapper article .desc.full {
        grid-column-end: span 4;
        margin-bottom: 2rem; }
      #about .wrapper article .subtitle {
        font-size: 1.6rem;
        text-align: center;
        color: inherit;
        padding-bottom: 1.5rem; }
      #about .wrapper article p {
        padding-bottom: 1.5rem;
        color: #555;
        line-height: 1.9rem; }
